#
# Default values for all accounts.
#

defaults
# Activate TLS (also known as SSL) security.
tls on
# Enable full TLS/SSL certificate checks.
tls_trust_file /etc/ssl/certs/ca-certificates.crt
# Use the POP3-over-TLS variant instead of the STARTTLS variant.
# This is often called "POP3 with SSL". Most servers support this.
tls_starttls off
# Use the procmail mail delivery agent.
delivery mda "/usr/bin/procmail -f '%F' -d $USER"

# For Sendmail:
#delivery mda "/usr/sbin/sendmail -oi -oem -f '%F' -- $USER"
# For msmtp (delivery via SMTP):
#delivery mda "/usr/bin/msmtp --host=localhost --from='%F' -- $USER"
# Delivery to a maildir folder:
#delivery maildir ~/Mail/incoming
# Delivery to a MBOX mail folder:
#delivery mbox ~/Mail/new
# Delivery to an Exchange pickup directory:
#delivery exchange c:\exchange\pickup


# 
# Two pop3 mailboxes at the provider.
#

account provider1
host mx.provider.example
user john_smith
password secret

# Copy the settings from the previous account, and only override the
# settings that differ.
account provider2 : provider1
user joey
password secret2


# 
# A freemail service.
#

account freemail
host pop.freemail.example
user 1238476
passwordeval gpg -d ~/.mpop.password.gpg

# The service runs SpamAssassin, so test each mail for the "X-Spam-Status: Yes"
# header, and delete all mails with this header before downloading them.
filter   if [ "`grep "^X-Spam-Status: Yes"`" ]; then exit 1; else exit 0; fi


# 
# Set a default account (optional).
#

account default : provider1
